body {
  background: url("../assets/img/bg-login.jpg") no-repeat center center;
  background-size: cover;
}
input::placeholder {
  color: rgba(205, 205, 205, 1) !important;
}
.bg-overlay {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.2);
}

.login-box {
  background: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
#togglePassword {
  border-color: #dee2e6;
  color: rgba(0, 164, 239, 1);
  font-size: 12px;
}
#togglePassword:hover {
  background-color: transparent;
}
